[submodule "source/cortex-m0/raspberry/pico-sdk"]
	path = source/cortex-m0/raspberry/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "renode/Renode_RP2040"]
	path = renode/Renode_RP2040
	url = git@github.com:matgla/Renode_RP2040.git
