# KConfig
#
# Copyright (C) 2025 Mateusz Stadnik <matgla@live.com>
#
# This program is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation, either version
# 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General
# Public License along with this program. If not, see
# <https://www.gnu.org/licenses/>.
#

config BOARD_RASPBERRY_PICO
  bool "Raspberry Pico"

config BOARD
  def_string "raspberry_pico" if BOARD_RASPBERRY_PICO
  depends on BOARD_RASPBERRY_PICO 

if BOARD_RASPBERRY_PICO
  config FIRMWARE_IN_FLASH 
    default y

  choice CHOICE_CPU
    default CPU_RP2040
  endchoice

  config LINKER_SCRIPT_PATH
    default "${hal_root}/source/cortex-m0plus/raspberry/rp2040/linker_script.ld" 

  config BUNDLE_COMPILER_RT
    default n 

  config FLASH_MEMORY_ADDRESS
    default "0x10000000"
  
  config FLASH_MEMORY_SIZE
    default "2MB"

endif
